*{
    margin:0;
    padding:0;
}
.a{background-color: red;}
.b{background-color: green;}
.c{background-color: blue;}
.d{background-color: yellow;}
.e{background-color: pink;}
.box{
    width:800px;
    height:300px;
    background-color: gray;
    margin:800px auto;
}

.ex3>section{
    width:160px;
    height:300px;
    position: absolute;
}
.ex3{
    position: relative;
}
.ex3 div{
    width:20%;
    
}
.ex3 .a{
    top:-300px;
}
.ex3 .b{
    left:20%;
    bottom:-100%;
}
.ex3 .c{
    left:40%;
    top: -100%;
}    
.ex3 .d{
    left: 60%;
    bottom: -100%;
}
.ex3 .e{
    left: 80%;
    top:-100%;
}

.ex4{
    position: relative;
}


.ex5{
    position: relative;
}
.ex5>div{
    width:100px;
    height:100px;
    position:absolute;
}
.ex5 .a{
    left:-100px;
    top:-100px;
    z-index:1;
}
.ex5 .b{
    left:-50px;
    top:-50px;
}
.ex5 .c{
    left:0;
    top:0;
    z-index:1;
}
.ex5 .d{
    left:50px;
    top:50px;
    
}
.ex5 .e{
    left:100px;
    top:100px;
}

.ex6{
    position: relative;
    display: flex;
    
}
.ex6 div{
    flex:1;
}
.ex6 .a{
    width:400px;
    height:300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.ex6 .b{
    width:400px;
    height:300px;
    position:relative;
    justify-content: space-between;
}
.ex6 .c{
    width:100px;
    height:100px;
    right:0;
    top:0;
    position: absolute;
}
.ex6 .d{
    width:100px;
    height:50px;
    left:0;
    bottom:0;
    position: absolute;
    
}
.ex6 .e{
    width:100px;
    height:50px;
    bottom:0;
    right:0;
    position: absolute;
}
