*{
    margin:0;
    padding:0;
}
html{
    font-size: 20px;
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;
}
.title{
    border:1px solid red;
    display: flex;
}
.title h1{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    margin-right:50px;
    
}
.menu ul{
    display: flex;
    gap:150px;
}
.menu a{
    justify-content: flex-end;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    align-items: center;
    width: 645px;
    height: 34px;
}