html{
    font-size: 20px;
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;
}
header{
    border-bottom: 2px solid #BE0707;
}
.common-frame{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1600px;
    height: 100px;
    
}
.header .common-frame{
    display: flex;
    justify-content: space-between;
}
.gnb{
    display: flex;
   
    
}
.gnb li{
    
    
}
.gnb a{
    
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

}
.banner{
    
    background: url(../img/img1.jpg) no-repeat 50% 50% / cover;
    height:700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    color: #fff;
    font-size: 7.5rem;
    line-height: 100%;
    text-transform: capitalize;
    
}
