html{
    font-family: 'Pretendard',sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 6rem;
}
.banner {
    /* border: 1px solid red; */
    height: 599px;
    background: url(../img/main.jpg) no-repeat 50% 81% / cover;
    border-radius: 50px 50px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    /* border:1px solid blue; */
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
}
.aboreto {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}
.common-frame{
    /* border:1px solid green; */
    width:1600px;
    margin:0 auto;
}
h2.deco-title {
    /* border:1px solid orange; */
    font-size: 7.5rem;
    line-height: 90%;
    text-transform: uppercase;
    padding-top: 6rem;
    margin-bottom: 48px;
    
}
.desc1{
    /* border:1px solid purple; */
    line-height: 140%;
    text-align:left;
    text-transform: uppercase;
    margin-bottom: 48px;
}
body {
    background: url(../img/bg.png) no-repeat 0% 700px;
}
.cafe-gal{
    display: flex;
    gap: 1rem;
    margin-bottom: 2.5rem;
}
.cafe-gal figure {
    flex: 1;
    aspect-ratio: 520/434;
    line-height: 0;
}    
.cafe-gal figure img{
    max-width:100%;
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 1rem;
}
.common-frame h3{
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    text-transform: lowercase;
    margin-bottom: 1rem;
}
.common-frame h3+p{
    margin-bottom: 2rem;
    text-align:center;
}
.cafe-gal2{
    display: flex;
    gap: 1rem;
    margin-bottom: 2.5rem;
}
.cafe-gal2 figure{
    flex: 1;
    aspect-ratio: 790/434;
    line-height: 0;
}
.cafe-gal2 figure img{
    max-width:100%;
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 1rem;
}