html{
    font-size: 1rem;
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;
}
.stp1{
    font-family: "abo";
}
.common-frame{
    
    width:1600px;
    margin:0 auto;
    padding-top: 6rem;
}
.banner{
    height:599px;
    
    border-radius: 2.5rem;
    background: url(../img/main.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.banner h1{
    color: #fff;
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
}
.common-frame h2{
    font-size: 7.5rem;
    line-height: 90%;
    text-transform: uppercase;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.desc1{
    line-height: 140%;
    text-transform: uppercase;
    margin: 2.4rem 0;
}
.gallery{
    display: flex;
    gap:1rem;
    margin-bottom: 2rem;
}
.gallery figure{
    flex:1;
    overflow: hidden;
    aspect-ratio: 520/434;
}
.gallery figure img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 1rem;
}
.common-frame h3{
    
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size:2rem;
    text-align: center;
    text-transform: capitalize;
}
.desc2{
    line-height: 140%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.gallery.type2 figure{
    flex:1;
    aspect-ratio: 790/434;
}
.wrap{
    background: url(../img/bg.png) no-repeat 50% 0% / 100% auto;
}