.a{
    border:1px solid red;
    padding:30px;
    background-color: aquamarine;
    background-image: url("../img/image.png");
    width:calc(700px + 100px);
    height:calc(80px*10);
    background-repeat: no-repeat;
    /* background-position: -100px 200px; */
    background-position: calc(100% - 100px) 100%;
    background-size: auto 100%;
    /* background-size: calc(100% - 100px) auto; */
    background-size: cover;
}
.b{
    border:1px solid blue;
    height:800px;
    background: aquamarine url("../img/image.png"); no-repeat 50% 50% / 50% 50%;
    background-attachment: fixed;
}
.c{
    dorder:1px solid green;
    height:800px;
    background: lime url("../img/image.png") no-repeat 50% 50% / contain;
    background-blend-mode: multiply;
}
.d{
    border:1px solid coral;
    height:800px;
    background:
    url("../img/image.png") no-repeat 0% 50% / auto auto,
    url("../img/image.png") no-repeat 50% 50% / contain,
    url("../img/image.png") no-repeat 100% 50% / auto 300px;
}
.e{
    border:1px solid orange;
    height:800px;
    background: linear-gradient(30deg,red 20%blue,green 80%)
}