.aboreto{
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}
html{
    font-family: 'Pretendard',sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
.banner{
    height: 599px;
    background: url(../img/main.png) no-repeat 50% 50% / cover;
}
.banner h1{
    font-size: 2.5em;
    line-height: 100%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 270px;
}
.content{
    width:1600px;
    margin:0 auto;
    margin-top: 6rem;
    margin-bottom: 2rem;
    text-align: center;
}
.content h2{
    font-size: 7.5rem;
    line-height: 90%;
}
.content h3{
    font-size: 1rem;
    text-transform: uppercase;
    padding-top: 1rem;
    line-height: 140%;
}
