/* h1{color:red !important;} */
body div h1#b{color:red;}
body div h1#b {
    color: #FFC107;
    font-size: 43px;
    background-color: green;
}
h1#b{color:red;}
#b{color:blue;}
div h1.a{color:red;}
h1.a{color:blue;}
.a{color:red;}
h1{color:red;}
h1{color:blue;color:orange;}