html{
    font-size:1rem;
    font-weight: 400;
    font-family: 'pretendard',sans-serif;
}
.stp1{
    font-family: 'abo';
}
header{
    /* border:1px solid red; */
    background-color: #fff;
    max-height:100px;
    /* max-height:100px; */
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    z-index:1;
}
.inner-frame{
    width:1600px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}

.wrap .inner-frame{
    display: flex;
}
.lnb{
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    /* border:1px solid blue; */
    display: flex;
   
}
.lnb>li{
    
    background-color: #fff;
    width:200px;
    overflow:hidden;
    max-height:100px;
    transition: all .7s ease 0s;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    padding: .5rem;
    padding-top: 0;
}
.lnb>li:hover{
    max-height:500px;
}
.lnb>a{
    display:flex;
    height:100px;
    align-items: center;
}
.lnb>li>a{
    display: flex;
    height:80px;
    align-items: center;
    margin-bottom:1rem;
}
.lnb>ul>a{
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}
.dep>li>a{
    display: flex;
    /* border:1px solid red; */
    margin-top:20px;
    font-weight: 400;
    font-size: 16px;
}    

.lnb>li>a{
    display: flex;
    height:80px;
    align-items: center;
    margin-bottom:1rem;
    /* border:1px solid orange; */
}
.lnb>ul>a{
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}
.dep>li>a{
    display: flex;
    /* border:1px solid red; */
    margin-top:20px;
    font-weight: 400;
    font-size: 16px;
}
.banner{
    border:1px solid red;
    height: 800px;
    position:relative;
    color:#fff;
    
}
.banner video{
    width:100%;
    height:100%;
    object-fit: cover;
    height:800px;
}
.banner .floating-text{
    /* border:1px solid green; */
    position:absolute;
    left:50%;
    top:50%;
    transform: 
    translate(-50%,-50%);
}
.floating-text h1{
    font-weight: 400;
    font-size: 7rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;  
    margin-bottom: 20px;
}
.floating-text p{
    font-weight: 500;
    font-size: 1rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}