*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: inherit;
}
a{
    color: inherit;
    text-decoration: inherit;
}
address{
    font-style: inherit;
}
ul,ol{
    list-style: none;
}
html{
    font-family: 'Pretendard',sans-serif;
    font-size: 20px;
}

#wrap div .banner {
    height: 599px;
    background: url(../img/hand.png) no-repeat 50% 50% / cover;
    margin-bottom: 120px;
}
#wrap div .banner p{
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding-top: 270px;

}
.main p.a{
    margin: 20px 20px;
    text-align: right;
    font-size: 20px;
    padding: 60px;
}
.abo{
    font-family: "Aboreto", system-ui;
    text-align: left;
    font-size: 120px;
    margin-left: 160px;
    border: 1px;
}
p.a span{
    text-transform: uppercase;
}

.banner2{
    height: 350px;
    background: url(../img/coffee.jpg) no-repeat 50% 50% / cover;
    margin: 160px 0;
}
.main img{
    width: 1000px;
    height: 430px;
}
.main .b{
    margin-top: 10px;
    text-align: left;
    padding: 0 160px;
    margin-bottom: 76px;
}
#wrap .main{
    width: 1600px;
    margin: 0 auto; 
    object-fit: cover;
}