@media (max-width:1920px){
        .aboreto{
        font-family: "Aboreto", system-ui;
        font-weight: 400;
        font-style: normal;
    }
    html{
        font-family: 'Pretendard',sans-serif;
        font-size: var(--base-pc);
        font-weight: 400;
    }
    .banner{
        /* padding-top: 270px;
        box-sizing: border-box; */
        /* border:1px solid red; */
        height: 599px;
        background: url(../img/hand.png) no-repeat 50% 50% / cover;
    }
    .banner h1{
        /* border:1px solid lime; */
        font-size: 2.5rem;
        line-height: 100%;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        padding-top: 270px;
    }
    /* 첫 번째 자식한테는 margin-top 하지 말 것. */
    .content{
        width:1600px;
        margin:0 auto;
        margin-top: 6rem;
    }
    .content h2{
        font-size: 4rem;
        line-height: 90%;
        text-transform: uppercase;
        margin-bottom: 4rem;
    }
    .content p{
        /* border-top:1px solid #000; */
        font-size: 1rem;
        line-height: 140%;
        text-align: right;
        text-transform: uppercase;
        padding: 1rem 0;
        margin-bottom: 3rem;
    }
    .content figure{
        /* border:1px solid green; */
    }
    .content figure img{
        width:1000px;
        height:430px;
        object-fit: cover;
    }
    .content figcaption{
        font-size: 1rem;
        line-height: 140%;
        text-transform: lowercase;
    }
}