.a{
    border:10px solid red;
    width: 300px;
    height: 100px;
    overflow-y: auto;
}
.b{
    border:10px solid blue;
    overflow-x: scroll;
    white-space: nowrap;
}
.c{
    border:10px solid hotpink;
    white-space: nowrap;
    width:300px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 10px;
}
.d{
    /* 외우지 말고 복사해서 쓸 것. */
    display: -webkit-box;
    -webkit-box-orient: vertical; /* (세로 방향으로 줄바꿈) */
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 10px solid orange;
    width: 300px;
    /* -webkit이란? : 크롬, 사파리, 파이어폭스 등의 브라우저 */
}

/* 외우지 말 것. */
::-webkit-scrollbar{
    width:14px;
    height:14px;
}
::-webkit-scrollbar-thumb{
    background: red;
}
::-webkit-scrollbar-track{
    background-color: aqua;
}


.e{
    border:10px solid coral;
    width:300px;
    height:100px;
    overflow-y: scroll;
}
.e::-webkit-scrollbar{
    width:14px;
    height:14px;
}
.e::-webkit-scrollbar-thumb{
    background: goldenrod;
    border-radius: 6px;
}
.e::-webkit-scrollbar-track{
    background-color: darkcyan;
}