*{
    margin: 0;padding: 0;
}
.a{background-color: red;}
.b{background-color: green;}
.c{background-color: blue;}
.d{background-color: gold;}
.e{background-color: pink;}

.box2{
    width:800px;
    height:100px;
    display: flex;
}
.box2 div{
    width:100px;
    height:100px;
}

.box2 .a{order: 2;}
.box2 .b{order: 4;}
.box2 .c{order: 1;}
.box2 .d{order: 5;}
.box2 .e{order: 3;}

