*{
    margin:0;
    padding:0;
}
.a{background-color: red;}
.b{background-color: green;}
.e{background-color: pink;}


.box12{
    width: 800px;
    height: 300px;
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    
}
.box12 .e{
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box12 .e div{
    width:100px;
    height:100px;
}