*{
    margin: 0;padding: 0;
}
.a{background-color: red;}
.b{background-color: green;}
.c{background-color: blue;}
.d{background-color: gold;}
.e{background-color: pink;}

.box{
    width:800px;
    height:100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: gray;
}
.a{
    width: 100px;
    height: 100px;
}
.b{
    width: 100px;
    height: 100px;
}
.c{
    width: 100px;
    height: 100px;
}
.d{
    width: 100px;
    height: 100px;
}
.e{
    width: 100px;
    height: 100px;
}