html{
    font-size:1rem;
    font-weight: 400;
    font-family: 'pretendard',sans-serif;
}
header{
    border-bottom:2px solid #BE0707;
    height:100px;
    position: fixed;
    left:0;
    top:0;
    width:100%;
}
.inner-frame{
    
    width:1600px;
    margin:0 auto;
}
header .inner-frame{
    display: flex;
    justify-content: space-between;
}
header .logo{
    
}
header .nav{
    
}
.lnb{
    
    display: flex;
    gap:1rem;
    height:30px;
    align-items: center;
    line-height: 100%;
    font-size: 0.8rem;
    text-transform: uppercase;
    justify-content: flex-end;
}
.lnb li{
    color: #fff;
}
.gnb{
    
    display: flex;
    height:70px;
    font-family: Pretendard;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
}
.gnb li{
    flex:1;
    
}
.gnb li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}
nav{
    width:966px;
    
}
.banner{
    border:1px solid red;
    height:100vh;
    background: url(../img/hero-banner.jpg) no-repeat 50% 50% / cover;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 6rem;
}
.banner h2{
    width:1600px;
    font-family: Aboreto;
    font-size: 7rem;
    line-height: 90%;
    text-transform: uppercase;
    color:#fff;
}
.c1 h3{
    font-size: 60px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}    
.c1 p{
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
.sub-banner{
    height:441px;
}
.sub-banner img{
    width:100%;
    height:100%;
    object-fit: cover;
}